.Icon {
  width: 20px;
  height: 20px;
  fill: black;
}

.Icon--reversed {
  fill: white;
}

.Icon--spinner {
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
