.PostcodeSearch-label {
  display: block;
  padding: 16px 0 14px;
}

.PostcodeSearch-form {
  position: relative;
}

.PostcodeSearch-input {
  width: 100%;
  border: 0;
  padding: 15px 64px 14px 14px;
}

.PostcodeSearch-input:focus {
  outline: none;
}

.PostcodeSearch-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: russett;
  border: 1px solid russett;
  text-align: center;
  padding: 17px 18px 17px 16px;
}

.PostcodeSearch-button .Icon {
  width: 16px;
  height: 16px;
}

/*
@media (min-width: 641px) {
  .PostcodeSearch-button {
    height: 54px;
    width: 54px;
  }
  .PostcodeSearch-button .Icon {
    width: 20px;
    height: 20px;
  }
}*/