
.RestaurantProviders-categories {
  margin-left: 16px;
  padding: 13px 16px 12px 0;
  color: tea;
  max-width: 640px;
}

.RestaurantProviders-list {
  margin-left: 16px;
  max-width: 640px;
}

.RestaurantProviders-item {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.RestaurantProviders-link {
  display: block;
  overflow: hidden;
  padding: 13px 16px 12px 0;
  margin: 0 auto;
}

.RestaurantProviders-image {
  float: left;
  margin-right: 16px;
}

.RestaurantProviders-body {
  overflow: hidden;
}

.RestaurantProviders-label {
  color: tea;
}

@media (min-width: 641px) {
  .RestaurantProviders-categories {
    margin: 0 auto;
    padding-left: 16px;
  }
  .RestaurantProviders-list {
    margin: 0 auto;
  }
  .RestaurantProviders-link {
    padding-left: 16px;
  }
  .RestaurantProviders-image {
    margin-right: 20px;
  }
}
