.RestaurantList-item {
  padding: 13px 16px 12px;
  border-bottom: 1px solid del-rio;
  max-width: 640px;
  margin: 0 auto;
}

.RestaurantList-link {
  display: block;
}

.RestaurantList-categories {
  color: tea;
}