.ViewHeader {
  font-size: 1.25em;
}

.ViewHeader-link {
  display: block;
  padding: 13px 16px 12px;
  margin: 0 auto;
  max-width: 640px;
}

.ViewHeader--location {
  background: tea;
}

.ViewHeader--category {
  background: del-rio;
}

.ViewHeader--restaurant {
  background: russett;
}