@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'DIN-Regular';
    src: url('../fonts/DIN-Regular.eot');
    src: url('../fonts/DIN-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIN-Regular.woff') format('woff'),
         url('../fonts/DIN-Regular.ttf') format('truetype');
         url('../fonts/DIN-Regular.svg') format('truetype');
}
