.umami-location {
  background: tea
}

.umami-location-categories {
  background: del-rio;
}

.umami-location-categories-category {
  background: russett;
}

.umami-location-restaurant {
  background: black;
}