.Geolocate {
  line-height: 1;
  padding: 12px 14px 11px;
  width: 100%;
}

.Geolocate-icon {
  fill: white;
  width: 1.5625em;
  height: 1.5625em;
  line-height: 1.5625em;
  display: inline-block;
  vertical-align: -25%;
  margin-left: -29px;
}

.Geolocate.is-locating .Geolocate-icon {
  animation: pulse;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}